html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}
body{
    background-color: #46483e;
}
h1,p{
    padding: 10px;
    margin:10px;
}
#wrapper{
    color:#d2d8ba;
    margin:0 auto;
    width:600px;
}
button{
    background-color: #8BC84B;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    color: rgb(70, 72, 62);
    cursor: pointer;
    font-size: 14px;
}